asgiref==3.2.3
braintree==3.59.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.0.3
django-ckeditor==5.9.0
django-crispy-forms==1.8.1
django-js-asset==1.2.2
django-payments==0.13.0
django-taggit==1.2.0
gunicorn==20.0.4
idna==2.9
packaging==20.1
Pillow==7.0.0
pip-review==1.0
psycopg2==2.8.4
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.4.6
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
stripe==2.43.0
suds-jurko==0.6
urllib3==1.25.8
xmltodict==0.12.0
