{% extends 'base.html' %}
{% load static %}
{% block title %}Sztuka | REWOLUCJA{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/art_styles.css' %}">
    <!--Lightbox css-->
    <link rel="stylesheet" href="{% static 'css/minified/lightbox.min.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="masonry-wrapper">
            <div class="masonry">
                {% for item in art_items %}
                <div class="masonry-item">
                    <a href="{{item.image.url}}" class="example-image-link" data-lightbox="example-1">
                        <img src="{{item.image.url}}" alt="" class="masonry-content" width="100%">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div
    </div>
{% endblock %}
{% block bottom_body_js_block %}
    <!--Masonry-->
    <script src="{% static 'js/minified/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/minified/gallery.min.js' %}"></script>
    <!--Lightbox-->
    <script src="{% static 'js/minified/lightbox.min.js' %}"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'fitImagesInViewport': true,
            'disableScrolling': true,
            'alwaysShowNavOnTouchDevices': true,
            'albumLabel': "Zdjęcie %1 z %2"
        })
    </script>
{% endblock %}