{% extends 'base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin-top: 100px; background-color: aquamarine;">
        <div class="infinite-container">
        {% for post in posts %}
            <!--TODO: post styling on homepage-->
        {% endfor %}
        </div>
        {% if posts.has_next %}
            <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
        {% endif %}
        <div class="loading" style="display: none;">
        </div>
    </div>
{% endblock %}
{% block bottom_body_js_block%}
    <script src="{% static 'js/minified/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/minified/inifinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
    </script>
{% endblock %}