{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light d-flex align-items-center" id="navigation-bar" style="background-color: white;">
    <a class="navbar-brand" href="{% url 'website:index' %}">
      <img src="{% static 'img/logomale.png' %}" alt="" class="img-fluid" width="50" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{% url 'website:index' %}" class="nav-link">Publicystyka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:art' %}">Sztuka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:store' %}">Sklep</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:about' %}">O nas</a>
        </li>
      </ul>
    </div>
</nav>