.cart-container{
    display: inline;
}

@media only screen and (max-width: 812px){
    .cart-container{
        display: block;
    }
}

@media only screen and (max-width:375px){
    .cart-container{
        width: 375px;
    }
}