#order{
    margin-top: 10%;
}

#yourorder{
    margin-top: 30px;
}

#create_order{
    width: 50%;
}

@media only screen and (max-width: 375px){
    #yourorder{
        display: inline;
    }

    #create_order{
        width: 100%;
    }
}

@media only screen and (max-width: 812px){
    #yourorder{
        display: inline;
    }

    #create_order{
        width: 100%;
    }
}

@media only screen and (min-width:820px){
    #create_order{
        width: 80%;
        margin-left: 10%;
    }
}