{% extends 'base.html' %}
{% load static %}
{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="create_order">
        <div class="container-fluid">
            <div class="row" style="margin-top: 6%">
                <div class="col">
                    <h4 class="page-header">Checkout</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}<br>
                        <button type="submit">Zamów</button>
                    </form>
                </div>
            </div>
                <div class="yourorder">
                    <div class="yourorder-header">
                        Twoje zamówienie:
                    </div>
                    <ul>
                        {% for item in cart %}
                            <li>
                            {{ item.quantity }}x 
                            {{ item.product.name }}
                            </li>
                        {% endfor %}

                        <li>
                            {{ cart.get_total_price }} PLN
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
{% endblock %}