{% extends 'base.html' %}
{% load static %}

{% block customCss %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/imageslider.css' %}">    
{% endblock %}

{% block customJs %}
    <script src="{% static 'js/indexslider.js' %}"></script>    
{% endblock %}
{% block content %}
    <div id="about">
       <!-- <div id="slider">
            <a href="#" class="control_next">></a>
            <a href="#" class="control_prev"><</a>
            <ul>
              Image slides
              {% for image in images %}
                <li>
                    <img src="{{image.image.url}}">
                </li>
              {% endfor %}
            </ul>  
        </div>
        <input type="checkbox" id="checkbox" style="display:hidden;" checked>
        -->
        <p style="padding-top: 40px;">Rewolucja polega na łączeniu lokalnych artystów. <br>
        Zajmujemy się głównie modą, muzyką i sztuką uliczną. <br>
        Dzięki temu co robimy czujemy się wolni. <br>
        Chcemy wam to pokazać. <br>
        Dołacz się do Rewolucji. <br>
        </p>
    </div>
{% endblock content %}

