#store{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
}

.product_all_data{
    margin-top: 20px;
}

.product{
    overflow: hidden;
    padding-left:10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#product_detail{
    overflow: hidden;
    padding-left: 10%;
    padding-top: 60px;
}

#productimage{
    float: left;
}

#productdata{
    margin-top: 10%;
    overflow: hidden;
}

@media only screen and (max-width:1024px){
    #productimage {
        float: none;
        margin-left: 0px;
    }
    #productdata {
        margin-top: 0px;
    }

    #product_detail{
        padding-top: 0px;
    }

}

@media only screen and (max-width: 812px){
    #productdata{
        margin-top: 20px;
        overflow: visible;
    }
    #store{
        display: inline;
    }
    .product{
        margin-left: 0px;
    }
    #productimage {
        float: none;
        margin-left: 0px;
    }

    #productdata {
        margin-top: 0px;
    }
}

@media only screen and (max-width:375px){
    #store{
        display: inline;
    }
}
