{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% include 'components/_metatags.html' %}
    {% include 'components/_cssfiles.html' %}
    {% include 'components/_jsfiles.html' %}

    {% block css_files %}{% endblock %}
    {% block js_files %}{% endblock %}

    {% include 'components/_seo.html' %}
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="wrapper flex-grow-1">
    
    {% include 'components/_navigation.html' %}
        <div class="container" id="main_container" style="max-width: 1380px;">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'components/_footer.html' %}
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="{% static 'js/minified/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/minified/bootstrap.bundle.min.js' %}"></script>
    {% block bottom_body_js_block %} {% endblock %}
</body> 
</html>